@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
    height: 300px;
    width: 100%;
    border-radius: 12px;
}

/* Add a fade-in animation */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
    animation: fadeIn 0.5s ease-in-out;
}
